<h4>Monthly investments for retirement savings Calculator</h4>
<form>
    <div class="mb-3">
        <label for="retire-crps-amt" class="form-label">Retirement Corpus Amount </label>
        <p class="fw-bold">1000</p>
    </div>
    <div class="mb-3">
        <label for="rte-of-int-drng-accum" class="form-label">Rate of Interest During Accumulation</label>
        <input type="text" class="form-control" id="rte-of-int-drng-accum">
    </div>
    <div class="mb-3">
        <label for="num-of-yr-aftr-retire" class="form-label">Number of Years to retire</label>
        <input type="text" class="form-control" id="num-of-yr-aftr-retire">
    </div>
    <div class="mb-3">
        <label class="fw-bold">Monthly investments</label>
        <p class="display-3 fw-bold">1000</p>
    </div>
</form>