<div class="card shadow-sm p-3 mb-5 bg-body rounded">
  <div class="card-header display-6">
    Monthly investments for retirement savings Calculator
  </div>
  <div class="card-body">
    <form>
      <div class="mb-3">
        <label for="retire-crps-amt" class="form-label">Retirement Corpus Amount </label>
        <p>1000</p>
      </div>
      <div class="mb-3">
        <label for="rte-of-int-drng-accum" class="form-label">Rate of Interest During Accumulation</label>
        <input type="text" class="form-control" id="rte-of-int-drng-accum">
      </div>
      <div class="mb-3">
        <label for="num-of-yr-aftr-retire" class="form-label">Number of Years to retire</label>
        <input type="text" class="form-control" id="num-of-yr-aftr-retire">
      </div>
      <div class="mb-3">
        <label class="fw-bold text-primary">Monthly investments</label>
        <p class="fw-bold text-primary">1000</p>
      </div>
    </form>
  </div>
</div>
