<h4>Expenses at Retirement Calculator</h4>
<form>
    <div class="mb-3">
        <label for="cur-mnth-exp" class="form-label">Current Monthyl Expense</label>
        <input type="text" class="form-control" id="cur-mnth-exp">
    </div>
    <div class="mb-3">
        <label for="cur-annl-exp" class="form-label">Current Annual Expense</label>
        <input type="text" class="form-control" id="cur-annl-exp">
    </div>
    <div class="mb-3">
        <label for="annl-inf-rte" class="form-label">Annual Inflation Rate</label>
        <input type="text" class="form-control" id="annl-inf-rte">
    </div>
    <div class="mb-3">
        <label for="curr-age" class="form-label">Current Age(yrs)</label>
        <input type="text" class="form-control" id="curr-age">
    </div>
    <div class="mb-3">
        <label for="exp-retir-age" class="form-label">Expected Retirement Age(yrs)</label>
        <input type="text" class="form-control" id="exp-retir-age">
    </div>
    <div class="mb-3">
        <label for="yrs-of-retire" class="form-label">Years of Retirement</label>
        <input type="text" class="form-control" id="yrs-of-retire">
    </div>
    <div>
        <label class="fw-bold">Expense at Retirement (Inflation Adjusted)</label>
        <p class="display-3 fw-bold">100.2</p>
    </div>
    <button type="submit" class="btn btn-primary">Next Calculate Retirement Corpus... </button>
</form>