<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center"> Retirement Calculator </h1>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Space for the other modules from routing.</p>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!-- <app-expense-calculator></app-expense-calculator> -->
      <!-- <app-retirement-corpus-calculator></app-retirement-corpus-calculator> -->
      <app-monthly-investments-calculator></app-monthly-investments-calculator>      
    </div>
  </div>
</div>